@font-face {font-family: Roboto; src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf")}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topo {
   background-color: #CCC;
    width: 100vw;
    height: 445px;
    padding: 32px 0px;

}

