@media (max-width:600px){
.container{
    padding: 3vh;
    justify-content: space-between;
}
#txtBusca{
    display:none;
}
.lupa{
    margin-left: 20px;
    width: 20px;
    top: 35px;
}
nav{
   width: 30vh;
   font-family: 'raleway';
}
.login{
    margin-left: -200px;
    padding: 10px 30px 10px 30px;
    top: 10px;
}
.titulo, h1{
    font-size: 15px;
}

/*CABECALHO*/
.cabecalho_img{
    height: 192px;
}

.cabecalho_text{
    top: 150px;
    left: 10px;
    font-size: 9px;
    line-height: 25px;
    font-family: 'raleway';
}
.cabecalhoText_titulo{
    font-size: 22px;
}
.cabecalho_button{
    width:18px;
    padding: 12px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'raleway';
}
.produtos1,
.produtos2,
.produtos3{
    flex-wrap: wrap;
}

.nav_list ul{
    margin-left: 30px;
}
.contato{
    flex-wrap: wrap;
    height: 100%;
}
input, textarea{
    width: 300px;
}
button{
   margin-left: 0;
}
}